html
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='main.css')
  title Document
  include icons 
  include header 
  include navigation 

  main.Main
    block content

    script(src='js/jquery-3.6.1.min.js')
    script(src='js/flickity.pkgd.min.js')
    script(src='js/main.js')
