$max-width: 1140px;
$gutter: 20px;
$finger-size: 42px; //apple dökümanında kullanıcıların 40px olan butona tıklaması öngörülmüştür. bu değişken ile sitede ki tüm butonlar tek seferde değiştirilir.
$border-radius:3px;
$font-size:16px;
$font-size-small:.86em;
//
$color-navy: #083b87;
$color-blue: #01ACEE;
$color-soft-blue: #F1F6FF;
$color-yellow: #FBBE00;
//
$font-family: 'Open Sans', 'Arial', sans-serif;

