section.Highligths
  .container
    .Highligths-slider
        .Highligths-item 
            .Highligths-item-show(style="background-image: url(https://images.unsplash.com/photo-1668714298639-2df174929fcb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=250&q=80);")
              .content 
                h4.title Home
                .tag
                 h5.tag-title Top reason
                 .tag-list
                   a.tag-item(href="") museums 
                   a.tag-item(href="") sigtseeing 
                   a.tag-item(href="") cultre
          .Highligths-item-extra 
        .Highligths-item 2
        .Highligths-item 3
        .Highligths-item 4
        .Highligths-item 5
        .Highligths-item 6
        .Highligths-item 7
        .Highligths-item 8
       



